@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  font-family: "Press Start 2P", cursive;
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-container img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
  z-index: 9999;
  max-width: calc(300px);
  max-height: calc(500px);
}
